{% extends 'base.html' %}
{% block index %}active{% endblock %}
{% block body %}

<div class=" col-md-8 col-md-10 mx-auto">
    <h3 class="my-4 mt-3" align='center'>Welcome to BlogWeb</h3>
</div>

<!-- Container Show Most 3 Recenet Post -->
<div class="container">
    <fieldset>
        <legend>3 Most recent added Post</legend>
        <!-- Blog Entries Column -->
        {% for post in most3recentadded %}
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|safe|slice:":200" }}</p>
                    <a href="{%url 'blog:article' post.slug %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </fieldset>
</div>

<!-- Container Show Most 3 Liked Post -->
<div class="container">
    <fieldset>
        <legend>3 Most Liked Post</legend>
        <!-- Blog Entries Column -->
        {% for post in most3liked %}
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|safe|slice:":200" }}</p>
                    <a href="{% url 'blog:article' post.slug %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </fieldset>
</div>

{% endblock %}