{% extends 'base.html' %} {% block body %} {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %} v
<form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    <input type="text" name="username" id='username' placeholder="UserName" required><br>
    <input type="password" name="password" id='password' placeholder="Password" required><br>
    <input type="submit" name='submit'>
</form>

{% for msg in messages %}
<h1>{{msg}}</h1>
{%endfor%} {%endblock%}