{% extends 'base.html' %}
{%block user %} active {% endblock %}
{% block body %}
<b>New Article</b>
<div class="container my-3">
    <form method="post" action="{% url 'users:newArticle' %}">
        {% csrf_token %}
        {{form.media}}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.label }}" class="form-group">{{ field.label_tag }}</label>
            {{field}}
            {% endfor %}
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit" name="submit" value="submit">Add</button>
        </div>
    </form>
</div>
{% for msg in messages %}
<h1>{{msg}}</h1>
{%endfor%}
{% endblock %}