{% extends 'base.html' %}
<!---->
{% block body %}

<h1>Registration</h1>

<form method='POST' action="{% url 'users:register' %}">
    {% csrf_token %}
    <input type="text" name="first_name" id='first_name' placeholder="First Name" required><br>
    <input type="text" name="last_name" id='last_name' placeholder="Last Name"><br>
    <input type="email" name="email" id='email' placeholder="Email" required><br>
    <input type="text" name="username" id='username' placeholder="UserName" required><br>
    <input type="password" name="password1" id='password1' placeholder="PassWord" required><br>
    <input type="password" name="password2" id='password2' placeholder="Confirm Password" required><br>

    <input type="submit" name="submit" id="submit"><br>
</form>

{% for msg in messages %}
<h1>{{msg}}</h1>
{%endfor%} {% endblock %}