{% extends 'base.html' %}
{%block register %} active {% endblock %}
{% block css %}
.form-signup
{
width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;
}
.form-signup .form-floating:focus-within
{
z-index: 2;
}
{% endblock %}
{% block body %}
<div class="container my-3" style="text-align: center!important;">
    <div class="form-signup">
        <form method='POST' action="{% url 'users:signup' %}">
            <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
            {% csrf_token %}
            {% for msg in messages %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
            {%endfor%}
            <div class="form-floating my-3">
                <input type="text" name="first_name" class="form-control" id='first_name' placeholder="First Name" required>
                <label for="first_name">First Name</label>
            </div>
            <div class="form-floating my-3">
                <input type="text" class="form-control" name="last_name" id='last_name' placeholder="Last Name">
                <label for="last_name">Last Name</label>
            </div>
            <div class="form-floating my-3">
                <input type="email" class="form-control" name="email" id='email' placeholder="Email" required>
                <label for="email">Email</label>
            </div>
            <div class="form-floating my-3">
                <input type="text" class="form-control" name="username" id='username' placeholder="UserName" required>
                <label for="username">Username</label>
            </div>
            <div class="form-floating my-3">
                <input type="password" class="form-control" name="password1" id='password1' placeholder="PassWord" required>
                <label for="password1">Password</label>
            </div>
            <div class="form-floating my-3">
                <input type="password" class="form-control" name="password2" id='password2' placeholder="Confirm Password" required>
                <label for="password2">Confirm Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-success" type="submit">Login</button>
        </form>
    </div>
    <strong>Already Have Account ? <a href="{% url 'users:login' %}">Login Here</a> </strong>
</div>
{% endblock %}